
extends layout

block title
  | 

block content
  div.hero
    div.hero-content
      div.wrap
        div.minitext Angular admin panel front-end framework
        div.buttons-unit
          a.button(href=installationArticleUrl) Installation guidelines
          a.button(href=firstArticleUrl) Documentation
 div.index-block.black
    div.wrap
      h1 Is it free?
      p
        | Initially we planned to sell it on template markets.
        |&nbsp;But they #[a(href='http://akveo.com/blog/why-i-hate-template-markets/',target='_blank') rejected us several times].
        |&nbsp;That's why we decided to make it open-source. And honestly, we have completely no regrets about it!
        |&nbsp;And we suggest you to not waste your money and use our template instead of paid ones!
        |&nbsp;Trust us, it's better than large number of them.
  div.index-block
    div.wrap
      h1 How can I support you guys?
      p Here's what you can do:
  div.index-block.black
    div.wrap
      h1 Can I hire you?
      p Yes! We are available for hire. Visit #[a(href='http://akveo.com',target='_blank') our homepage]
        |&nbsp;or simply leave us a note to #[a(href='mailto:contact@akveo.com') contact@akveo.com].
        |&nbsp;We will be happy to work with you!

